[submodule "3rdparty/toml11"]
	path = 3rdparty/toml11
	url = https://github.com/ToruNiina/toml11.git
[submodule "3rdparty/serial"]
	path = 3rdparty/serial
	url = https://github.com/wjwwood/serial.git
